<%- include('partials/header') %>

<div class="container mt-5 text-center" style="height: 100vh; margin: auto auto;">
    <h1 class="display-1" style="padding: auto auto;">404</h1>
    <p class="lead">Oops! The page you're looking for doesn't exist.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
</div>

<%- include('partials/footer') %>