<%- include('partials/header') %>




<h1>feedback</h1>


<form action="/feedback" method="POST"  >
    <b>Author: <%= name %></b><br>
    <input type="text" name="feedback" placeholder="feedback">
    <button>Submit</button>
</form>




<%- include('partials/footer') %>